<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
  </head>
  <body>
    <div class="container mt-5">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Sucursal A">
       <app-add-product></app-add-product>
        </mat-tab>
        <mat-tab label="Sucursal B">
          <app-add-product-b></app-add-product-b>
        </mat-tab>
        <mat-tab label="Agregar Sucursales">
          <app-add-sucursal></app-add-sucursal>
        </mat-tab>
      </mat-tab-group>
    </div>
  </body>
</html>
