<button type="button" class="btn btn-primary mt-2 mb-3" (click)="openModal(template)">Agregar Producto</button>
<table class="table table-hover text-center table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo de barras</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio Unitario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arrayProductos" >
      <th>{{item.nombre }}</th>
      <th>{{item.codigo }}</th>
      <th>{{item.cantidad }}</th>
      <th class="text-right">${{item.precio == null  ? item.precio == 0 :  item.precio}}.00</th>
      <th><button class="btn btn-danger" (click)="borrarProducto(item)"> Eliminar</button></th>
      <th><button class="btn btn-success" (click)="edit(item, editTemplate)">Modificar</button></th>
    </tr>
  </tbody>
</table>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productoForm">
      <label for="exampleInputEmail1" class="form-label">Producto</label>
      <input matInput class="form-control" type="text" formControlName="nombre" />
      <label for="exampleInputEmail1" class="form-label">Codigo</label>
      <input matInput class="form-control" type="text" formControlName="codigo" />
      <label for="exampleInputEmail1" class="form-label">Cantidad</label>
      <input matInput class="form-control" type="text" formControlName="cantidad" />
      <label for="exampleInputEmail1" class="form-label">Precio</label>
      <input matInput class="form-control" type="text" formControlName="precio" />
      <button type="button" class="btn btn-primary" (click)="addProducto()">Agregar</button>
      <button type="button" class="btn btn-secondary" (click)="clearForm()">Limpiar</button>
    </form>
  </div>
</ng-template>
<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modificar Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalEdit.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <label for="exampleInputEmail1" class="form-label">Producto</label>
      <input matInput class="form-control" type="text" formControlName="nombre"/>
      <label for="exampleInputEmail1" class="form-label">Codigo</label>
      <input matInput class="form-control" type="text" formControlName="codigo"/>
      <label for="exampleInputEmail1" class="form-label">Cantidad</label>
      <input matInput class="form-control" type="text" formControlName="cantidad"/>
      <label for="exampleInputEmail1" class="form-label">Precio</label>
      <input matInput class="form-control" type="text" formControlName="precio"/>
      <button type="button" class="btn btn-primary" (click)="modificarProducto()">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="clearForm()">Limpiar</button>
    </form>
  </div>
</ng-template>